@font-face {
    font-family: 'CocoGothic-Bold';
    src: url('../fonts/CocoGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CocoGothic-Bold.woff') format('woff'), url('../fonts/CocoGothic-Bold.ttf') format('truetype'), url('../fonts/CocoGothic-Bold.svg#CocoGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code-Pro-LC';
    src: url('../fonts/Code-Pro-LC.eot?#iefix') format('embedded-opentype'), url('../fonts/Code-Pro-LC.otf') format('opentype'),
    url('../fonts/Code-Pro-LC.woff') format('woff'), url('../fonts/Code-Pro-LC.ttf') format('truetype'), url('../fonts/Code-Pro-LC.svg#Code-Pro-LC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code-Pro-Light';
    src: url('../fonts/Code-Pro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Code-Pro-Light.otf') format('opentype'),
    url('../fonts/Code-Pro-Light.woff') format('woff'), url('../fonts/Code-Pro-Light.ttf') format('truetype'), url('../fonts/Code-Pro-Light.svg#Code-Pro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.otf') format('opentype'),
    url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.otf') format('opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BrutalType';
    src: url('../fonts/BrutalType.eot?#iefix') format('embedded-opentype'),  url('../fonts/BrutalType.otf')  format('opentype'),
    url('../fonts/BrutalType.woff') format('woff'), url('../fonts/BrutalType.ttf')  format('truetype'), url('../fonts/BrutalType.svg#BrutalType') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrutalType-Bold';
    src: url('../fonts/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BrutalType-Bold.otf')  format('opentype'),
    url('../fonts/BrutalType-Bold.woff') format('woff'), url('../fonts/BrutalType-Bold.ttf')  format('truetype'), url('../fonts/BrutalType-Bold.svg#BrutalType-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}