@font-face {
    font-family: 'CocoGothic-Bold';
    src: url('../fonts/CocoGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CocoGothic-Bold.woff') format('woff'), url('../fonts/CocoGothic-Bold.ttf') format('truetype'), url('../fonts/CocoGothic-Bold.svg#CocoGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    background: url(../img/back-tile.png);
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

.main-container {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 624px;
    height: auto;
    position: relative;
    background: url(../img/background.png);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
}

.top-menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 38px;
    background: #2f387c;
    display: block;
    font-family: 'BrutalType', sans-serif;
    text-transform: uppercase;
}

.top-menu div {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menu-button {
    opacity: 1;
    line-height: 38px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 12px;
    font-family: 'BrutalType', sans-serif;
    box-sizing: border-box;
    padding-left: 44px;
}

.menu-button:hover {
    opacity: 0.9;
}

.menu-button-0 {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: url(../img/menu-button-0.png) no-repeat;
}

.menu-button-1 {
    position: absolute;
    top: 0;
    left: 39px;
    cursor: pointer;
    width: 115px;
    height: 38px;
    background: url(../img/menu-button-1.png) no-repeat;
    z-index: 100;
}

.menu-button-2 {
    position: absolute;
    top: 0;
    left: 145px;
    cursor: pointer;
    width: 128px;
    height: 38px;
    background: url(../img/menu-button-2.png) no-repeat;
    z-index: 90;
}

.menu-button-3 {
    position: absolute;
    top: 0;
    left: 264px;
    cursor: pointer;
    width: 128px;
    height: 38px;
    background: url(../img/menu-button-3.png) no-repeat;
    padding-left: 54px;
    z-index: 80;
}

.menu-button-b {
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    top: 6px;
}

.menu-button-b:hover {
    background: #ffffff;
    color: #2f387c;
}

.menu-button-b1 {
    left: 416px;
    width: 80px;
    height: 24px;
}

.menu-button-b2 {
    left: 506px;
    width: 112px;
    height: 24px;
}

.main-banner {
    position: relative;
    width: 100%;
    height: 400px;
}

.main-banner img {
    z-index: 100;
}

.banner-shadow {
    z-index: 50;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 302px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 8px 20px 0px rgba(50, 50, 50, 0.5);
}

.banner-text {
    position: absolute;
    width: 300px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    top: 200px;
    left: 35px;
    font-family: 'CocoGothic-Bold', sans-serif;
}

.banner-text-brand {
    position: absolute;
    width: 340px;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    top: 240px;
    left: 35px;
    font-family: 'CocoGothic-Bold', sans-serif;
    z-index: 110;
    text-transform: uppercase;
    font-size: 11px;
    display: none;
}

.city-select {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.rules.select-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 380px;
    left: 0;
    height: 30px;
    z-index: 200;
    color: #546099;
    /*font-weight: bold;*/
    font-family: 'BrutalType', sans-serif;
}

.rules.rules-text {
    color: #546099;
    /*font-weight: bold;*/
    font-family: 'BrutalType', sans-serif;
}

.list-container {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

ul.top20-list {
    list-style-type: none;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 0;
}

ul.top20-list li {
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
}

ul.top20-list li:hover div.vote-btn {
    display: block;
}

ul.top20-list li:hover span.plus-one {
    visibility: visible;
}

.top20-list div {
    display: inline-block;
    vertical-align: middle;
}

.top20-city {
    color: #b7d9e3;
    font-size: 12px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    text-align: right;
    margin-right: 10px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    top: 0;
    right: 312px;
    width: 270px;
    font-family: 'CocoGothic-Bold', sans-serif;
}

.top20-info {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    width: 270px;

    top: 0;
    left: 312px;
}

.top20-info .top-stripe {
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    box-sizing: border-box;
    padding-left: 14px;
    position: relative;
    min-width: 32px;
}

.top20-numbers {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100px;
}

.top-percent {
    font-weight: bold;
    font-family: 'Code-Pro-LC', sans-serif;
}

.top-total {
    font-family: 'Code-Pro-Light', sans-serif;
}

.listbg1 {
    background: #ff63aa;
}

.listbg2 {
    background: #ff63aa;
}

.listbg3 {
    background: #ff63aa;
}

.listbg4 {
    background: #ff63aa;
}

.listbg5 {
    background: #ff63aa;
}

.listbg6 {
    background: #d455aa;
}

.listbg7 {
    background: #c655b8;
}

.listbg8 {
    background: #b855b8;
}

.listbg9 {
    background: #aa55b8;
}

.listbg10 {
    background: #9b55b8;
}

.listbg11 {
    background: #8d55b8;
}

.listbg12 {
    background: #7f55b8;
}

.listbg13 {
    background: #7155b8;
}

.listbg14 {
    background: #6355b8;
}

.listbg15 {
    background: #5555c6;
}

.listbg16 {
    background: #4655c6;
}

.listbg17 {
    background: #3846c6;
}

.listbg18 {
    background: #3855c6;
}

.listbg19 {
    background: #2a46c6;
}

.listbg20 {
    background: #2a46c6;
}

.top20-map {
    width: 100%;
    height: 952px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.top20-map-tabs {
    position: relative;
    width: 100%;
    height: 35px;
}

.top20-map-content {
    position: relative;
    width: 100%;
    height: 913px;
    box-sizing: border-box;
}

.top20-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/top20-back.png);
}

.map-content {
    position: absolute;
    top: 0;
    width: 620px;
    height: 100%;
    background: #ffffff;
    display: none;
    border: 2px solid #1773d1;
}

.top20-map-tabs div {
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

.top20-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 100%;
    background: #1773d1;
    border-radius: 0 5px 0 0;
}

.top20-tab.active {
    background: #40466e;
}

.map-tab {
    position: absolute;
    top: 0;
    right: 0;
    width: 312px;
    height: 100%;
    background: #1773d1;
    border-radius: 5px 0 0 0;
}

.map-tab.active {
    background: #40466e;
}

.rules {
    color: #546099;
    font-family: 'CocoGothic-Bold', sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    text-align: center;
}

.rules-line {
    position: relative;
    background: url(../img/rules-line.png) no-repeat;
    background-position: center center;
    height: 28px;
    margin-top: 34px;
    margin-bottom: 34px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
}

.rules-line1 {
    font-size: 12px;
}

.rules-line2 {
    position: absolute;
    background: url(../img/rules-line.png) no-repeat;
    background-position: center center;
    height: 28px;
    top: 330px;
    left: 0;
    right: 0;
    margin: auto;
    /*font-weight: bold;*/
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
}

.rules-text {
    position: relative;
    width: 550px;
    margin: auto;
}

.rules-text a {
    color: #546099;
    text-decoration: underline;
}

.rules-text-nobrand {
    position: relative;
    width: 480px;
    margin: auto;
}

#google-map {
    width: 100%;
    height: 100%;
}

.city-list-container {
    position: relative;
    width: 100%;
    height: 440px;
    overflow-y: auto;
}

.city-input {
    z-index: 90;
    position: absolute;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
    top: 120px;
    width: 411px;
    height: 32px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    background: url(../img/select-line.png) no-repeat;
}

.city-input-block {
    z-index: 120;
    position: absolute;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
    top: 120px;
    width: 214px;
    height: 32px;
    left: 170px;
    margin: auto;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    color: #546099;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: table-cell;
}

.city-input-block span {
    opacity: 0.8;
    color: #959ec7;
}

.city-list {
    position: absolute;
    width: 280px;
    text-align: left;
    margin: auto;
    /*top: 120px;*/
    top: -1128px;
    left: 136px;
    list-style-type: none;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    padding: 0;
    z-index: 80;
}

ul.city-list li {
    width: 100%;
    text-align: center;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.city-list li {
    cursor: pointer;
}

.city-list li.city {
    font-family: 'CocoGothic-Bold', sans-serif;
    color: #546099;
}

.city-top10 {
    position: absolute;
    width: 30%;
    text-align: left;
    margin: auto;
    top: 0;
    left: 32%;
    background: lightgoldenrodyellow;
}

.city-top20 {
    position: absolute;
    width: 30%;
    text-align: left;
    margin: auto;
    top: 0;
    left: 66%;
    background: lightsalmon;
}

#system-message {
    background: #eee;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#system-message .red {
    color: #c12e2a;
}

#system-message .green {
    color: #419641;
}

#system-message .yellow {
    color: #eb9316;
}

div.vote-btn {
    background: #99c45a;
    position: absolute;
    top: 0;
    right: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    display: none;
    cursor: pointer;
    width: 110px;
    height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 32px;
    vertical-align: middle;
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-family: 'CocoGothic-Bold', sans-serif;
}

.vote-btn:hover {
    opacity: 1;
}

.plus-one {
    visibility: hidden;
}

div.vote-btn-top {
    z-index: 100;
    background: #99c45a;
    position: absolute;
    top: 120px;
    right: 106px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    display: block;
    cursor: pointer;
    width: 110px;
    height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 32px;
    vertical-align: middle;
    /*opacity: 0.9;*/
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
    font-family: 'CocoGothic-Bold', sans-serif;
    opacity: 0.6;
}

div.vote-btn-top:hover {
    opacity: 1;
}

.back-fade-top {
    position: absolute;
    top: -26px;
    width: 100%;
    height: 90px;
    z-index: 120;
}

.back-fade-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    z-index: 120;
}

.done-screen {
    display: none;
}

.done-banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 1130px;
    background-image: url("../img/done-back-brand.png");
    background-repeat: no-repeat;
}

.revote-screen {
    display: none;
}

.done-message {
    width: 350px;
    height: 60px;
    top: 260px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

div.revote-btn {
    z-index: 100;
    background: #99c45a;
    position: absolute;
    top: 410px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 5px 29px -8px rgba(0, 0, 0, 0.75);
    display: block;
    cursor: pointer;
    height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 32px;
    vertical-align: middle;
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
    width: 180px;
    font-family: 'CocoGothic-Bold', sans-serif;
}

div.revote-btn:hover {
    opacity: 1;
}

div.revote-btn2 {
    z-index: 100;
    background: #99c45a;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
    width: 156px;
    font-family: 'CocoGothic-Bold', sans-serif;
}

div.revote-btn2:hover {
    opacity: 1;
}

.done-city {
    position: absolute;
    top: 396px;
    width: 350px;
    height: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

.done-pic {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}

.done-city-name {
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 45px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.social-share {
    position: absolute;
    top: 1201px;
    width: 100%;
    height: 110px;
    display: none;
}

.social-vk {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 26px;
    left: 39px;
    cursor: pointer;
}

.social-ok {
    opacity: 1;
}

.social-vk {
    opacity: 1;
}

.social-ok {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 26px;
    left: 118px;
    cursor: pointer;
}

.social-text {
    position: absolute;
    top: 46px;
    right: 179px;
    width: 240px;
    height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#banner-notbrand {
    display: none;
    position: relative;
}

#banner-brand {
    display: none;
    position: relative;
}

.footer-text {
    font-size: 12px;
    padding-bottom: 15px;
    text-align: center;
    color: #546099;
    /*font-weight: bold;*/
    font-family: 'BrutalType', sans-serif;
}

.footer-text span {
    font-size: 10px;
}

#footer-copy {
    display: none;
}

.rules-text-nobrand {
    display: block;
}

.rules-text {
    display: none;
}

.footer {
    position: relative;
}

.footer-big {
    position: relative;
    width: 100%;
    height: 165px;
    background: url(../img/footer-line.png) no-repeat;
    margin-bottom: 30px;
}

.footer-big-text {
    position: absolute;
    top: 94px;
    left: 57px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-family: 'CocoGothic-Bold', sans-serif;
}

.footer-big-vk {
    position: absolute;
    top: 76px;
    left: 255px;
    width: 61px;
    height: 61px;
    background: url(../img/footer-vk.png) no-repeat;
}

.footer-big-fb {
    position: absolute;
    top: 76px;
    left: 328px;
    width: 61px;
    height: 61px;
    background: url(../img/footer-fb.png) no-repeat;
}

.footer-big-ok {
    position: absolute;
    top: 76px;
    left: 401px;
    width: 61px;
    height: 61px;
    background: url(../img/footer-ok.png) no-repeat;
}

.fbig {
    cursor: pointer;
}

.fbig:hover {
    opacity: 1;
    top: 78px;
}

.footer-line {
    position: relative;
    width: 100%;
    height: 54px;
    /*background: url(../img/footer-back.png) no-repeat;*/
    margin-bottom: 16px;
}

.footer-line div {
    position: absolute;
}

.footer-logo1 {
    width: 61px;
    height: 34px;
    top: 10px;
    left: 32px;
    background: url(../img/logo-hasbro.png) no-repeat;
}

.footer-logo2 {
    width: 34px;
    height: 37px;
    top: 9px;
    left: 110px;
    background: url(../img/logo-h.png) no-repeat;
}

.footer-btn {
    top: 10px;
    height: 32px;
    background: #4d75a3;
    border-radius: 4px;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.footer-btn1 {
    width: 172px;
    left: 160px;
    /*background: url(../img/footer-btn1.png) no-repeat;*/
}

.footer-btn1:hover {
    opacity: 1;
    top: 12px;
}

.footer-btn2 {
    width: 244px;
    right: 84px;
    padding-left: 24px;
    box-sizing: border-box;
    /*background: url(../img/footer-btn2.png) no-repeat;*/
}

.footer-btn2:hover {
    opacity: 1;
}

.footer-line .gb {
    font-family: 'GothamPro-Bold', sans-serif;
}

.footer-vk {
    display: block;
    font-family: 'GothamPro-Bold', sans-serif;
    position: absolute;
    width: 18px;
    height: 16px;
    background: #ffffff;
    color: #4d75a3;
    top: -2px;
    bottom: 0;
    border-radius: 5px;
    line-height: 16px;
    vertical-align: middle;
    margin: auto;
    margin-right: 3px;
    padding: 2px 0 0 0;
    left: 12px;
}

.footer-social-circle {
    position: absolute;
    top: 9px;
    left: 350px;
    width: 240px;
    height: 34px;
}

.footer-social-circle-text {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: #385f8c;
    font-size: 12px;
    line-height: 34px;
    vertical-align: middle;
}

.footer-social-circle-vk {
    position: absolute;
    top: 0;
    left: 160px;
    width: 34px;
    height: 34px;
    background: url(../img/footer-vk-circle.png);
}

.footer-social-circle-fb {
    position: absolute;
    top: 0;
    left: 200px;
    width: 34px;
    height: 34px;
    background: url(../img/footer-fb-circle.png);
}

.fbig2 {
    cursor: pointer;
}

.fbig2:hover {
    opacity: 1;
    top: 2px;
}

.copy-paste-block {
    position: absolute;
    width: 550px;
    height: 20px;
    top: 316px;
    left: 0;
    right: 0;
    color: #ffffff;
    margin: auto;
    display: none;
}

.copy-url {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 0 0 4px;
    border: 1px solid #5277ad;
    line-height: 20px;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
}

.copy-button {
    position: absolute;
    right: 168px;
    top: 0;
    width: 160px;
    height: 20px;
    background: #1773d1;
    border: 1px solid #1773d1;
    border-radius: 4px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'CocoGothic-Bold', sans-serif;
}

.copy-button:hover {
    opacity: 1;
}

.ui-autocomplete {
    list-style: none;
    width: 200px;
    text-align: center;
    height: 150px;
    color: #ffffff;
    opacity: 0.5;
    padding: 0;
    z-index: 10;
    overflow: hidden;
}

.ui-autocomplete li {
    margin: 4px 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

.h-line {
    width: 624px;
    height: 5px;
    position: relative;
    background: url(../img/h-line.png) no-repeat;
}

.donescr .h-line.tp {
    width: 624px;
    height: 5px;
    position: relative;
    top: 0;
    background: url(../img/h-line.png) no-repeat;
}

.donescr .h-line.bt {
    width: 624px;
    height: 5px;
    top: 596px;
    position: relative;
    background: url(../img/h-line.png) no-repeat;
}

.info-block1 {
    width: 624px;
    height: 603px;
    position: relative;
    background: url(../img/info-back1.png) no-repeat;
    font-family: 'BrutalType', sans-serif;
    text-align: center;
}

.info-block1.donescr {
    position: absolute;
    top: 506px;
    left: 0;
    height: 613px;
}

.info-block1 div {
    position: absolute;
}

.ib1-h {
    text-transform: uppercase;
    font-family: 'CocoGothic-Bold', sans-serif;
    color: #1b296f;
    font-size: 12px;
    top: 41px;
    left: 216px;
}

.ib1-h2 {
    font-size: 14px;
    color: #1b296f;
    top: 72px;
    left: 216px;
    font-family: 'BrutalType', sans-serif;
}

.donescr .ib1-t1 {
    font-size: 14px;
    color: #fefeff;
    top: 278px;
    width: 520px;
    left: 0;
    right: 0;
    margin: auto;
}

.ib1-t1 {
    font-size: 14px;
    color: #fefeff;
    top: 314px;
    width: 480px;
    left: 0;
    right: 0;
    margin: auto;
}

.ib1-t1 .pp2 {
    font-size: 14px;
    color: #fefeff;
    font-family: 'BrutalType-Bold', sans-serif;
    left: 0;
    right: 0;
    margin: auto;
}

.ib1-t1 .pp2 span {
    font-family: 'BrutalType', sans-serif;
}

.ib1-t2 {
    color: #000;
    width: 450px;
    left: 0;
    right: 0;
    margin: auto;
    top: 478px;
}

.ib1-t3 {
    font-size: 14px;
    color: #fff;
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    top: 560px;
    text-transform: uppercase;
}

.info-block2 {
    width: 624px;
    height: 591px;
    position: relative;
    background: url(../img/info-back2.png) no-repeat;
    font-family: 'BrutalType', sans-serif;
    text-align: center;
}

.info-block2 div {
    position: absolute;
}

.ib2-h {
    font-family: 'BrutalType', sans-serif;
    font-size: 14px;
    color: #fff;
    top: 53px;
    width: 480px;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
}

.ib2-t1 {
    font-size: 14px;
    color: #fff;
    top: 116px;
    width: 480px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'BrutalType-Bold', sans-serif;
}

.ib2-t2 {
    font-size: 14px;
    color: #fff;
    top: 484px;
    width: 480px;
    left: 0;
    right: 0;
    margin: auto;
}

.random-btn {
    position: absolute;
    top: 127px;
    left: 120px;
    width: 17px;
    height: 17px;
    background: url(../img/random-cube.png) no-repeat;
    cursor: pointer;
    z-index: 110;
    opacity: 0.9;
}

.random-btn:hover {
    opacity: 1;
}

.minmax-btn {
    position: absolute;
    top: 127px;
    left: 386px;
    width: 10px;
    height: 15px;
    background: url(../img/icon-min2.png) no-repeat;
    cursor: pointer;
    z-index: 110;
    opacity: 0.9;
}

.minmax-btn:hover {
    opacity: 1;
}

li.ui-menu-item {
    color: #1b296f;
    -webkit-animation: new-item-animation .3s ease-out backwards;
    animation: new-item-animation .3s ease-out backwards;
}

@-webkit-keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-200px);

    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-200px);

    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

.scroll-bar {
    position: absolute;
    top: 56px;
    right: 40px;
    width: 12px;
    height: 220px;
}

.scroll-bar-l {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.1;
    border-radius: 12px;
}

.scroll-bar-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 24px;
    background: #000;
    cursor: pointer;
    opacity: 0.4;
    border-radius: 12px;
}

.ib1-h.rules-line.rules-line1.veg {
    width: 100%;
    top: 0;
    left: 0;
}

.text-ok1 {
    display: none;
}

.map-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: gray;
    z-index: 100;
    overflow: hidden;
}

.map-preloader-back {
    position: absolute;
    background: #99c459;
    width: 620px;
    height: 400px;
    top: 230px;
    left: -515px;
    display: none;
}

.map-preloader-nums {
    position: absolute;
    font-size: 26px;
    color: #fff;
    top: 438px;
    left: 308px;
    font-family: 'BrutalType-Bold', sans-serif;
}

.map-preloader-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../img/preload-pic.png) no-repeat;
}

/*<div id="map-preloader" class="map-preloader">*/
/*<div class="map-preloader-back"></div>*/
/*<div class="map-preloader-nums"></div>*/
/*<div class="map-preloader-img"></div>*/
/*</div>*/