body {
    font-family: sans-serif;
}

.main-container {
    width: 250px;
    height: 480px;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.controls-container {
    text-align: left;
}

.generate-votes {
    width: 100%;
}

.city-selector {

}